{
  "swagger": "2.0",
  "x-api-store-tags": [
    "licensing",
    "health products",
    "natural products"
  ],
  "x-api-store-short-desc": "La Base de données des produits de santé naturels homologués (BDPSNH) contient des renseignements sur les produits de santé naturels (PSN) ayant reçu une licence de mise en marché de Santé Canada.\n",
  "x-api-store-long-desc": "La Base de données des produits de santé naturels homologués (BDPSNH) contient des renseignements sur les produits de santé naturels (PSN) ayant reçu une licence de mise en marché de Santé Canada.\n",
  "x-api-store-documentation": "<p>Veuillez consulter la documentation OpenAPI</p>",
  "x-api-store-phone": "",
  "x-api-store-sensitivity": "Non classifié",
  "x-api-store-plans": {
    "public": {
      "name": "Plan public",
      "description": "Tous les utilisateurs doivent souscrire au plan public"
    }
  },
  "info": {
    "title": "Base de donnée de produits de santé naturels homologués (BDPSNH)",
    "description": "La Base de données des produits de santé naturels homologués (BDPSNH) contient des renseignements sur les produits de santé naturels (PSN) ayant reçu une licence de mise en marché de Santé Canada.",
    "version": "1.0.0",
    "contact": {
      "name": "",
      "email": "open-ouvert@tbs-sct.gc.ca"
    }
  },
  "schemes": [
    "https"
  ],
  "host": "lnhpd-hc-sc-apicast-production.api.canada.ca",
  "basePath": "/v1/",
  "produces": [
    "application/json",
    "application/xml"
  ],
  "paths": {
    "/medicinalingredient": {
      "get": {
        "tags": [
          "Ingredient médicinal"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryPage"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/MedicinalIngredientResponse"
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/nonmedicinalingredient": {
      "get": {
        "tags": [
          "Ingrédient non médicinal"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NonMedicinalIngredient"
              },
              "xml": {
                "name": "NonMedicinalIngredients",
                "wrapped": true
              }
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/productdose": {
      "get": {
        "tags": [
          "Produit"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductDose"
              },
              "xml": {
                "name": "ProductDoses",
                "wrapped": true
              }
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/productlicence": {
      "get": {
        "tags": [
          "Produit"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "name": "id",
            "type": "string",
            "in": "query",
            "description": "Affiche l'homologation selon le code numérique du produit spécifié dans la requête."
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductLicence"
              },
              "xml": {
                "name": "ProductLicence",
                "wrapped": true
              }
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/productpurpose": {
      "get": {
        "tags": [
          "Produit"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryPage"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductPurposeResponse"
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/productrisk": {
      "get": {
        "tags": [
          "Produit"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryPage"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProductRiskResponse"
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    },
    "/productroute": {
      "get": {
        "tags": [
          "Produit"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/UserKeys"
          },
          {
            "$ref": "#/parameters/QueryLang"
          },
          {
            "$ref": "#/parameters/QueryType"
          },
          {
            "$ref": "#/parameters/QueryProductID"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductRoute"
              },
              "xml": {
                "name": "ProductRoute",
                "wrapped": true
              }
            }
          },
          "204": {
            "$ref": "#/definitions/204"
          },
          "404": {
            "$ref": "#/definitions/404"
          }
        }
      }
    }
  },
  "definitions": {
    "204": {
      "type": "string"
    },
    "404": {
      "type": "string"
    },
    "MedicinalIngredient": {
      "type": "object",
      "description": "Contribue à l'activité thérapeutique associée à l'utilisation ou au but recommandé.",
      "properties": {
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "ingredient_name": {
          "type": "string",
          "description": "Le nom de l'ingrédient médicinal."
        },
        "potency_amount": {
          "type": "string",
          "description": "La quantité par unité de dose posologique du composant standardisé qui caractérise la quantité de l'ingrédient."
        },
        "potency_unit of_measure": {
          "type": "string",
          "description": "Unité de mesure décrivant la puissance."
        },
        "potency_constituent": {
          "type": "string",
          "description": "Composant actif de l'ingrédient médicinal."
        },
        "quantity": {
          "type": "string",
          "description": "Quantité d'ingrédient médicinal / unité de dose posologique."
        },
        "quantity_minimum": {
          "type": "string",
          "description": "Quantité minimum le cas échéant."
        },
        "quantity_maximum": {
          "type": "string",
          "description": "Quantité maximale le cas échéant."
        },
        "quantity_unit_of_measure": {
          "type": "string",
          "description": "Unité de mesure décrivant la quantité."
        },
        "ratio_numerator": {
          "type": "string",
          "description": "Numérateur de rapport d'extrait."
        },
        "ratio_denominator": {
          "type": "string",
          "description": "Dénominateur de rapport d'extrait."
        },
        "dried_herb_equivalent": {
          "type": "string",
          "description": "La quantité d'ingrédient brut utilisée dans un extrait, exprimée par unité de dosage."
        },
        "dhe_unit_of_measure": {
          "type": "string",
          "description": "Unité de mesure décrivant la quantité."
        },
        "extract_type_desc": {
          "type": "string",
          "description": "Type d'extrait."
        },
        "source_material": {
          "type": "string",
          "description": "La substance à partir de laquelle l'ingrédient médicinal a été dérivé. Il peut y avoir plusieurs sources pour un seul ingrédient médicinal."
        }
      },
      "xml": {
        "name": "MedicinalIngredient"
      }
    },
    "MedicinalIngredientResponse": {
      "type": "object",
      "xml": {
        "name": "Response"
      },
      "properties": {
        "metadata": {
          "$ref": "#/definitions/Metadata"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MedicinalIngredient"
          },
          "xml": {
            "name": "Data",
            "wrapped": true
          }
        }
      }
    },
    "Metadata": {
      "type": "object",
      "xml": {
        "name": "Metadata"
      },
      "properties": {
        "dateReceived": {
          "type": "string"
        }
      }
    },
    "NonMedicinalIngredient": {
      "type": "object",
      "description": "Toute substance ajoutée à un PSN pour conférer une consistance ou une forme appropriée aux ingrédients médicinaux.",
      "properties": {
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "ingredient_name": {
          "type": "string",
          "description": "Le nom de l'ingrédient non médicinal."
        }
      },
      "xml": {
        "name": "NonMedicinalIngredient"
      }
    },
    "ProductDose": {
      "type": "object",
      "description": "La quantité de produit fini sous forme posologique utilisée aux fins recommandées, y compris les instructions d'utilisation. La dose est représentée par la quantité d'unités posologiques, la fréquence d'utilisation et les directives d'utilisation, le cas échéant, par un sous-groupe de population.",
      "properties": {
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "dose_id": {
          "type": "string",
          "description": "Identificateur unique de la dose."
        },
        "population_type_desc": {
          "type": "string",
          "description": "Sous-population, le groupe ciblé par le PSN (un ou plusieurs) qui peut nécessiter une posologie différente de la norme."
        },
        "age": {
          "type": "string",
          "description": "Âge recommandé."
        },
        "age_minimum": {
          "type": "string",
          "description": "Âge minimum le cas échéant."
        },
        "age_maximum": {
          "type": "string",
          "description": "Âge maximum le cas échéant."
        },
        "uom_type_desc_age": {
          "type": "string",
          "description": "Unité de mesure pour l'âge."
        },
        "quantity_dose": {
          "type": "string",
          "description": "Quantité de l'ingrédient médicinal / unité de dose posologique."
        },
        "quantity_dose_minimum": {
          "type": "string",
          "description": "Quantité minimale d'ingrédient médicinal/unité posologique le cas échéant."
        },
        "quantity_dose_maximum": {
          "type": "string",
          "description": "Quantité maximale d'ingrédient médicinal/unité posologique le cas échéant."
        },
        "uom_type_desc_quantity_dose": {
          "type": "string",
          "description": "Unité de mesure décrivant le dosage."
        },
        "frequency": {
          "type": "string",
          "description": "Fréquence à laquelle le produit doit être pris dans un intervalle de temps ou un temps donné."
        },
        "frequency_minimum": {
          "type": "string",
          "description": "Fréquence minimale le cas échéant."
        },
        "frequency_maximum": {
          "type": "string",
          "description": "Fréquence maximale le cas échéant."
        },
        "uom_type_desc_frequency": {
          "type": "string",
          "description": "Unité de mesure décrivant la fréquence."
        }
      },
      "xml": {
        "name": "ProductDose"
      }
    },
    "ProductLicence": {
      "type": "object",
      "description": "Un code numérique de huit (8) chiffres assigné à chaque produit de santé naturel approuvé pour être commercialisé en vertu du Règlement sur les produits de santé naturels (RPSN).",
      "properties": {
        "nhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "licence_number": {
          "type": "string",
          "description": "Un code numérique de huit (8) chiffres assigné à chaque produit de santé naturel approuvé pour être commercialisé en vertu du RPSN."
        },
        "licence_date": {
          "type": "string",
          "description": "Date d'émission initiale."
        },
        "revised_date": {
          "type": "string",
          "description": "Date de la dernière révision."
        },
        "time_receipt": {
          "type": "string",
          "description": "Date de soumission reçue à la Direction des produits de santé naturels et sans ordonnance."
        },
        "date_start": {
          "type": "string",
          "description": "Date à laquelle le processus a débuté."
        },
        "product_name_id": {
          "type": "string",
          "description": "Identificateur de valeur clé pour nom de marque."
        },
        "product_name": {
          "type": "string",
          "description": "Nom de marque."
        },
        "dosage_form": {
          "type": "string",
          "description": "La forme finale du produit de santé naturel pouvant être utilisé par le consommateur sans nécessiter de modifications supplémentaires."
        },
        "company_id": {
          "type": "string",
          "description": "Identificateur de valeur clé de compagnie."
        },
        "company_name_id": {
          "type": "string",
          "description": "Identificateur de valeur clé de nom de compagnie."
        },
        "company_name": {
          "type": "string",
          "description": "Titulaire de licence."
        },
        "sub_submission_type_code": {
          "type": "string",
          "description": "Identificateur sous-type de présentations."
        },
        "sub_submission_type_desc": {
          "type": "string",
          "description": "Valeur de texte ou le sous-type de présentations."
        },
        "flag_primary_name": {
          "type": "string",
          "description": "Signal activé - nom de marque primaire."
        },
        "flag_product_status": {
          "type": "string",
          "description": "Produit actif / non actif."
        },
        "flag_attested_monograph": {
          "type": "string",
          "description": "Attesté à une monographie Oui / Non."
        }
      },
      "xml": {
        "name": "ProductLicence"
      }
    },
    "ProductPurpose": {
      "type": "object",
      "description": "Déclaration indiquant l'effet bénéfique prévu d'un PSN lorsqu'il est utilisé selon la dose recommandée, la durée d'utilisation et la voie d'administration.",
      "properties": {
        "text_id": {
          "type": "string",
          "description": "Identificateur unique pour but."
        },
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "purpose": {
          "type": "string",
          "description": "Déclaration de but."
        }
      },
      "xml": {
        "name": "ProductPurpose"
      }
    },
    "ProductPurposeResponse": {
      "type": "object",
      "xml": {
        "name": "Response"
      },
      "properties": {
        "metadata": {
          "$ref": "#/definitions/Metadata"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductPurpose"
          },
          "xml": {
            "name": "Data",
            "wrapped": true
          }
        }
      }
    },
    "ProductRisk": {
      "type": "object",
      "description": "Toutes mises en garde, réactions indésirables et information contradictoire associées à l'utilisation du PSN.",
      "properties": {
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "risk_id": {
          "type": "string",
          "description": "Identificateur de valeur de risques principaux."
        },
        "risk_type_desc": {
          "type": "string",
          "description": "Mises en garde, contre-indications, réactions indésirables connues."
        },
        "sub_risk_type_desc": {
          "type": "string",
          "description": "Sous-types de risques s'il y a lieu."
        },
        "risk_text": {
          "type": "string",
          "description": "Énoncé de l'étiquette de risque."
        }
      },
      "xml": {
        "name": "ProductRisk"
      }
    },
    "ProductRiskResponse": {
      "type": "object",
      "xml": {
        "name": "Response"
      },
      "properties": {
        "metadata": {
          "$ref": "#/definitions/Metadata"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductRisk"
          },
          "xml": {
            "name": "Data",
            "wrapped": true
          }
        }
      }
    },
    "ProductRoute": {
      "type": "object",
      "description": "La méthode par laquelle le PSN doit être livré à l'organisme.",
      "properties": {
        "lnhpd_id": {
          "type": "string",
          "description": "Identificateur unique de produit."
        },
        "route_id": {
          "type": "string",
          "description": "Indicateur de valeur-clés de type de voie d'administration."
        },
        "route_type_desc": {
          "type": "string",
          "description": "La méthode par laquelle le PSN doit être livré à l'organisme."
        }
      },
      "xml": {
        "name": "ProductRoute"
      }
    }
  },
  "parameters": {
    "QueryLang": {
      "name": "lang",
      "type": "string",
      "in": "query",
      "enum": [
        "en",
        "fr"
      ],
      "default": "en",
      "description": "Modifie la langue du résultat."
    },
    "QueryType": {
      "name": "type",
      "type": "string",
      "in": "query",
      "enum": [
        "json",
        "xml"
      ],
      "default": "json",
      "description": "Modifie le format du résultat."
    },
    "QueryPage": {
      "name": "page",
      "type": "string",
      "in": "query",
      "default": 1,
      "description": "Retourne un résultat donné des résultats paginés."
    },
    "QueryProductID": {
      "name": "id",
      "type": "string",
      "in": "query",
      "description": "Affiche les ingrédients médicinaux selon l'identificateur unique de produit spécifiée dans la requête."
    },
    "UserKeys": {
      "name": "user-key",
      "type": "string",
      "in": "header",
      "required": true,
      "description": "L'identifiant attribué à votre compte pour accéder à l'API",
      "x-data-threescale-name": "user_keys"
    }
  }
}