# third
swagger: '2.0'
x-api-store-tags:
  - medical condition
  - clinical
  - medicine
x-api-store-short-desc: |
  La base de données sur les essais cliniques donne à la population une liste de renseignements précis sur les essais cliniques des phases I, II et III chez les patients. Gérée par Santé Canada, la base de données constitue une source d'information sur les essais cliniques effectués au Canada avec les médicaments pharmaceutiques et biologiques à usage humain.
x-api-store-long-desc: |
  La base de données sur les essais cliniques donne à la population une liste de renseignements précis sur les essais cliniques des phases I, II et III chez les patients. Gérée par Santé Canada, la base de données constitue une source d'information sur les essais cliniques effectués au Canada avec les médicaments pharmaceutiques et biologiques à usage humain.
x-api-store-documentation: <p>Veuillez consulter la documentation OpenAPI</p>
x-api-store-phone: ''
x-api-store-sensitivity: Non classifié
x-api-store-plans:
  public:
    name: Plan public
    description: Tous les utilisateurs doivent souscrire au plan public
info:
  title: Base de données des essais cliniques (BDEC)
  description: |
    La base de données sur les essais cliniques donne à la population une liste de renseignements précis sur les essais cliniques des phases I, II et III chez les patients. Gérée par Santé Canada, la base de données constitue une source d'information sur les essais cliniques effectués au Canada avec les médicaments pharmaceutiques et biologiques à usage humain.
  version: '1.0.0'
  contact:
    name: ''
    email: open-ouvert@tbs-sct.gc.ca

schemes:
  - https
host: cta-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
produces:
  - application/json
  - application/xml

paths:
  /sponsor:
    get:
      tags:
        - Promoteur

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le promoteur selon le numéro d'identification du promoteur spécifié dans la requête
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Sponsor'
            xml:
              name: Sponsors
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /medicalcondition:
    get:
      tags:
        - Condition médicale

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche la condition médicale selon le numéro d'identification de la condition médicale spécifié dans la requête.
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/MedicalCondition'
            xml:
              name: MedicalConditions
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /drugproduct:
    get:
      tags:
        - Produit pharmaceutique

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le produit pharmaceutique selon le numéro d'identification d'une marque spécifié dans la requête.
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /protocol:
    get:
      tags:
        - Protocole

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le protocole selon le numéro d'identification du protocole spécifié dans la requête
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Protocol'
            xml:
              name: Protocols
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /status:
    get:
      tags:
        - Statut de l'essai

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le statut selon le numéro d'identification du statut spécifié dans la requête
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/TrialStatus'
            xml:
              name: TrialStatuses
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /studypopulation:
    get:
      tags:
        - Population à l'étude

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche la population à l'étude selon le numéro d'identification d'une population à l'étude spécifié dans la requête
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/StudyPopulation'
            xml:
              name: StudyPopulations
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

definitions:
  '204':
    type: string
  '404':
    type: string

  DrugProduct:
    type: object
    description: Information sur le produit pharmaceutique, telles que le nom donné au médicament utilisé dans le cadre de l'essai clinique. Il peut s'agir d'un nom de code, du nom chimique de l'ingrédient actif, d'une dénomination commune ou d'une marque nominative.
    properties:
      protocol_id:
        type: string
        description: Le numéro d'identification attribué à un protocole
      submission_no:
        type: string
        description: Le numéro de contrôle
      brand_id:
        type: string
        description: Le numéro d'identification attribué à une marque
      manufacturer_id:
        type: string
        description: Le numéro d'identification attribué à un promoteur
      manufacturer_name:
        type: string
        description: Le nom du promoteur
      brand_name:
        type: string
        description: Le nom commercial du produit pharmaceutique

  MedicalCondition:
    type: object
    description: La maladie ou une description de l'indication recherchée qui est à l'étude dans le cadre de l'essai clinique.
    properties:
      med_condition_id:
        type: string
        description: Le numéro d'identification attribué à une condition médicale
      med_condition:
        type: string
        description: La condition médicale

  Protocol:
    type: object
    description: Document qui décrit le ou les objectifs, la conception, la méthodologie, les considérations d'ordre statistique et l'organisation d'un essai clinique.
    properties:
      protocol_id:
        type: string
        description: Le numéro d'identification attribué à un protocole
      protocol_no:
        type: string
        description: Le numéro du protocole
      submission_no:
        type: string
        description: Le numéro de contrôle
      status_id:
        type: string
        description: Le numéro d'identification attribué à un statut
      start_date:
        type: string
        description: La date de début de l'étude
      end_date:
        type: string
        description: La date de fin de l'étude
      nol_date:
        type: string
        description: La date de la lettre de non-objection
      protocol_title:
        type: string
        description: Titre du protocole
      medConditionList:
        type: array
        items:
          type: object
          description: La liste des conditions médicales propres à un protocole.
          properties:
            med_condition_id:
              type: string
              description: Le numéro d'identification attribué à une condition médicale
            med_condition:
              type: string
              description: La condition médicale
      studyPopulationList:
        type: array
        items:
          type: object
          description: La liste des populations à l'étude propres à un protocole
          properties:
            study_population_id:
              type: string
              description: Le numéro d'identification attribué à une population de l'étude
            study_population:
              type: string
              description: La population de l'étude

  Sponsor:
    type: object
    description: |
      Un promoteur d'essai clinique est un particulier, une entreprise, une institution ou un organisme qui mène un essai clinique. Le promoteur est responsable de tous les aspects d'un essai clinique, dont celui de veiller à ce que l'essai soit mené selon les bonnes pratiques cliniques à chaque lieu d'essai clinique. Il doit y avoir un chercheur qualifié, comme un médecin habilité ou un dentiste, à chacun des lieux d'essai choisis. Le chercheur qualifié est la personne responsable auprès du promoteur de la conduite de l'essai clinique à un lieu d'essai clinique.
    properties:
      manufacturer_id:
        type: string
        description: Le numéro d'identification attribué à un promoteur
      manufacturer_name:
        type: string
        description: Le nom du promoteur

  TrialStatus:
    type: object
    description: |
      « EN ATTENTE » signifie que Santé Canada attend de recevoir du promoteur l'information selon laquelle l'essai est commencé. « EN COURS » signifie que Santé Canada a reçu du promoteur l'information indiquant la date proposée pour le début de l'essai, et « TERMINÉ » signifie que Santé Canada a reçu du promoteur l'information selon laquelle l'essai clinique est terminé.
    properties:
      status_id:
        type: string
        description: Le numéro d'identification attribué à un statut
      status:
        type: string
        description: Le statut de l'essai

  StudyPopulation:
    type: object
    description: Caractéristiques des sujets admissibles à l'essai clinique, p. ex. hommes et femmes adultes, enfants, etc.
    properties:
      study_population_id:
        type: string
        description: Le numéro d'identification attribué à une population à l'étude
      study_population:
        type: string
        description: La population à l'étude

parameters:
  QueryLang:
    name: lang
    type: string
    in: query
    enum:
      - en
      - fr
    default: en
    description: Détermine si le résultat est affiché en anglais ou en français
  QueryType:
    name: type
    type: string
    in: query
    enum:
      - json
      - xml
    default: json
    description: Détermine si le résultat est en format JSON ou XML
  UserKeys:
    name: 'user-key'
    type: string
    in: header
    required: true
    description: L'identifiant attribué à votre compte pour accéder à l'API
    x-data-threescale-name: user_keys
