swagger: '2.0'
x-api-store-tags:
  - drug
  - pharmaceutical
  - medical
x-api-store-short-desc: |
x-api-store-long-desc: |
x-api-store-documentation: Veuillez consulter la documentation OpenAPI
x-api-store-phone: '613-954-2964'
x-api-store-sensitivity: Unclassified
x-api-store-plans:
  public:
    name: Public Plan
    description: All users should subscribe to the Public Plan.
info:
  title: Base de données sur les produits pharmaceutiques (BDPP)
  description: |
    La BDPP contient des informations spécifiques sur les médicaments commercialisés au Canada. Cette base de données, administrée par la Direction des produits thérapeutiques, porte sur les produits à usages humains et vétérinaires, radio pharmaceutiques et désinfectants. Elle renferme environ 47 000 produits qui sont présentement approuvés, commercialisés, dormants ou annulés.

    Les produits à usage humain, vétérinaire, désinfectants et ceux faisant partie de l'Annexe C (produits radiopharmaceutiques) seront disponibles dans la BDPP en ligne dès leur approbation, à l'exception des produits appartenant aux trois groupes de monographies listées dans la Partie C, Titre 1, du Règlement sur les Aliments et Drogues. Ces produits sont : les produits solaires (crèmes solaires, baumes à lèvres revendiquant un FPS, produits cosmétiques contenant un agent de protection solaire, etc...), les shampoings antipelliculaires et les désinfectants pour surfaces dures. Pour ces produits, dont les applications ont été soumises après le 15 juin 2015, il peut y avoir un délai de 6 mois, après la date d'approbation, avant qu'ils n'apparaissent dans la BDPP en ligne.

    Santé Canada est l'organisme fédéral qui réglemente les produits thérapeutiques et nous ne donnons pas de conseils médicaux sur l'utilisation des produits dans cette base de données. Pour de plus amples informations sur les choix de traitement, les choix de médicament et leurs utilisations, maladies, effets secondaires et interactions médicamenteuses, veuillez contacter votre professionnel de la santé.

  version: 1
  contact:
    name: Valerie Tweedle
    email: valerie.tweedle@canada.ca

schemes:
  - https
host: dpd-hc-sc-apicast-production.api.canada.ca
basePath: /api/drug/
produces:
  - application/json
  - application/xml

paths:
  /activeingredient:
    get:
      tags:
        - Ingrédient actif
      description: Returns all active ingredients.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
        - name: ingredientname
          in: query
          type: string
          description: Affiche les ingrédients actifs selon le texte spécifié dans la requête.
      responses:
        '200':
          description: Returns a list of all active ingredients, or if an ID is provided, the list of all active ingredients that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/ActiveIngredient'
            xml:
              name: ActiveIngredients
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /company:
    get:
      tags:
        - Entreprise
      description: Returns all companies.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche les détails de l'entreprise selon le code de l'entreprise spécifié dans la requête.
      responses:
        '200':
          description: Returns a list of all companies, or if an ID is provided, the list of all companies that correspond to the given company code
          schema:
            type: array
            items:
              $ref: '#/definitions/Company'
            xml:
              name: Companies
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /drugproduct:
    get:
      tags:
        - Produit pharmaceutique
      description: Returns all drug products.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
        - name: din
          in: query
          type: string
          description: Affiche le produit pharmaceutique selon l'Identification numérique de la drogue spécifiée dans la requête.
        - name: brandname
          in: query
          type: string
          description: Affiche les produit pharmaceutiques selon le texte spécifié dans la requête.
        - name: status
          in: query
          type: integer
          description: |
            Affiche les produits pharmaceutiques selon l'état spécifié dans la requête.

              1 - Approuvé
              2 - Commercialisé
              3 - Annulé avant commercialisation
              4 - Annulé après commercialisation
              6 - Dormant
              9 - Annulé (notification annuelle omise)
              10 - Annulé (problème d'innocuité)
          enum:
            - 1
            - 2
            - 3
            - 4
            - 6
            - 9
            - 10
      responses:
        '200':
          description: Returns a list of all drug products, or if an ID is provided, the list of all drug products that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /form:
    get:
      tags:
        - Forme posologique
      description: Returns all dosage forms.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
        - name: active
          in: query
          type: string
          enum:
            - yes
          description: Affiche les formes posologiques qui sont actives.
      responses:
        '200':
          description: Returns a list of all dosage forms, or if an ID is provided, the list of all dosage forms that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/DosageForm'
            xml:
              name: DosageForms
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /packaging:
    get:
      tags:
        - Emballage
      description: Returns all packaging information for drug products.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        '200':
          description: Returns a list of all packaging information, or if an ID is provided, the list of all packaging information that corresponds to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/Packaging'
            xml:
              name: Packaging
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /pharmaceuticalstd:
    get:
      tags:
        - Norme pharmaceutique
      description: Returns all dosage forms.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        '200':
          description: Returns a list of all pharmaceutical standards, or if an ID is provided, the list of all pharmaceutical standards that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/PharmaceuticalStandard'
            xml:
              name: PharmaceuticalStandards
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /route:
    get:
      tags:
        - Voie d'administration
      description: Returns all routes of administration.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
        - name: active
          in: query
          type: string
          enum:
            - yes
          description: Affiche les voies d'administration qui sont actives.
      responses:
        '200':
          description: Returns a list of all routes of administration, or if an ID is provided, the list of all routes of administration that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/RouteOfAdministration'
            xml:
              name: RoutesOfAdministration
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /schedule:
    get:
      tags:
        - Annexe
      description: Returns all schedules.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
        - name: active
          in: query
          type: string
          enum:
            - yes
          description: Affiche les annexes qui sont actives.
      responses:
        '200':
          description: Returns a list of all schedules, or if an ID is provided, the list of all schedules that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/Schedule'
            xml:
              name: Schedules
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /status:
    get:
      tags:
        - État
      description: Returns all product statuses.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        '200':
          description: Returns a list of all product statuses, or if an ID is provided, the list of all product statuses that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductStatus'
            xml:
              name: ProductStatuses
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /therapeuticclass:
    get:
      tags:
        - Classe thérapeutique
      description: Returns all therapeutic classes.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        '200':
          description: Returns a list of all therapeutic classes, or if an ID is provided, the list of all therapeutic classes that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/TherapeuticClass'
            xml:
              name: TherapeuticClasses
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /veterinaryspecies:
    get:
      tags:
        - Espèces animales
      description: Returns all veterinary species.
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - $ref: '#/parameters/QueryDrugProductCode'
      responses:
        '200':
          description: Returns a list of all veterinary species, or if an ID is provided, the list of all veterinary species that correspond to the given drug product code
          schema:
            type: array
            items:
              $ref: '#/definitions/VeterinarySpecies'
            xml:
              name: VeterinarySpeciesList
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

definitions:
  '204':
    type: string
  '404':
    type: string
  ActiveIngredient:
    type: object
    description: |
      Le terme « ingrédient actif » désigne toute composante qui possède des propriétés médicinales, une action pharmacologique ou qui a des effets directs sur le diagnostic, la guérison, l'atténuation, le traitement ou la prévention des maladies, ou qui agit sur la structure ou toute fonction du corps de l'être humain ou de l'animal.

      La base de données précise le nom et la concentration de chaque ingrédient actif contenu dans un produit. On précise entre parenthèses la forme (le type de sel) sous laquelle l'ingrédient est fourni; cette information n'est disponible que pour certains ingrédients. Le nombre indiqué dans le champ « Concentration » fait référence à la portion active du médicament. Par exemple (p. ex.), dans « Calcium (carbonate de calcium) 200 milligrammes [mg] », 200 mg fait référence à la concentration de calcium élémentaire et non à la quantité de carbonate de calcium.

      Pour la nomenclature liée aux ingrédients, Santé Canada utilise divers documents de référence selon une hiérarchie précise. La dénomination commune internationale (DCI) est la norme utilisée par Santé Canada pour déterminer le nom qui est privilégié pour les ingrédients. D'autres normes, par exemple l' United States Adopted Names (USAN), le code de Martindale, le Merck Index, etc., sont utilisées pour coder les ingrédients qui ne figurent pas dans la DCI.
    properties:
      dosage_unit:
        type: string
        description: |
          L'unité posologique de l'ingrédient actif.
      dosage_value:
        type: string
        description: La valeur pour une unité posologique.
      drug_code:
        $ref: '#/definitions/DrugCode'
      ingredient_name:
        type: string
        description: Le nom de l'ingrédient.
      strength:
        type: string
        description: La concentration de l'ingrédient actif contenu dans un produit pharmaceutique.
      strength_unit:
        type: string
        description: L'unité de concentration de l'ingrédient actif.
    xml:
      name: ActiveIngredient

  Company:
    type: object
    description: |
      Dans la BDPP, plusieurs entreprises peuvent être associées à un produit. À chaque produit est rattaché un détenteur de DIN. Si un détenteur de DIN a chargé une autre entreprise de recevoir sa correspondance, le nom et l'adresse de cette entreprise seront aussi inclus et peuvent être repérés au symbole « Y » dans le champ ADDRESS_MAILING_FLAG.

      Les renseignements sur la personne-ressource ne sont pas inclus dans l'API (ATTENTION_TO, LANGUAGE, TELEPHONE_NUMBER, FAX_NUMBER, EMAIL_ADDRESS). Dans la base de données, il s'agit généralement d'un représentant du département des Affaires réglementaires. Il semble que certains utilisateurs communiquent avec ces personnes pour obtenir des renseignements généraux.
    properties:
      city_name:
        type: string
        description: Le nom de la ville.
      company_code:
        type: string
        description: Le code attribué à l'entreprise.
      company_name:
        type: string
        description: Le nom de l'entreprise.
      company_type:
        type: string
        description: Le type d'entreprise.
      country_name:
        type: string
        description: Le nom du pays.
      post_office_box:
        type: string
        description: Le numéro de la boîte postale (s'il y a lieu).
      postal_code:
        type: string
        description: Le code postal.
      province_name:
        type: string
        description: Le nom de la province.
      street_number:
        type: string
        description: Le nom de la rue.
      suite_number:
        type: string
        description: Le numéro de la pièce.
    xml:
      name: Company

  DrugProduct:
    type: object
    description: Information sur le produit pharmaceutique, telles que le nom commercial et l'identification numérique de drogue.
    properties:
      ai_group_no:
        type: string
        description: Le numéro de groupe d'ingrédients actifs.
      brand_name:
        type: string
        description: Le nom commercial du produit pharmaceutique.
      class_name:
        type: string
        description: La classe thérapeutique attribuée à un produit pharmaceutique.
      descriptor:
        type: string
        description: Des détails supplémentaires ou des descriptions pour un produit, s'il y a lieu.
      drug_code:
        $ref: '#/definitions/DrugCode'
      drug_identification_number:
        type: string
        description: L'Identification numérique de la drogue.
      number_of_ais:
        type: string
        description: Le nombre d'ingrédients actifs.
      company_name:
        type: string
        description: Le nom de l'entreprise.
    xml:
      name: DrugProduct

  DosageForm:
    type: object
    description: |
      La forme posologique est la forme sous laquelle le produit est vendu, par exemple comprimée, gélule, poudre, etc.

      Un produit peut avoir plus d'une forme posologique (p. ex. comprimé, gélule) dans le cas d'une trousse.
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      pharmaceutical_form_code:
        type: string
        description: Le code attribué à une forme posologique.
      pharmaceutical_form_name:
        type: string
        description: La forme posologique.
    xml:
      name: DosageForm

  DrugCode:
    type: string
    description: The code assigned to each drug product

  Packaging:
    type: object
    description: Informations sur les capacités d'emballage disponible pour chaque produit pharmaceutique.
    properties:
      drug_code:
        type: string
        description: Le code attribué à chaque produit pharmaceutique.

      package_size:
        type: string
        description: La capacité de l'emballage.

      package_size_unit:
        type: string
        description: L'unité de la capacité de l'emballage.

      package_type:
        type: string
        description: Le type d'emballage.

      product_information:
        type: string
        description: Renseignements supplémentaires sur le produit.

      upc:
        type: string
        description: Le code universel des produits.
    xml:
      name: PackageInformation

  PharmaceuticalStandard:
    type: object
    description: La norme qui régit la fabrication et la représentation d'un produit pharmaceutique.
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      pharmaceutical_std:
        type: string
        description: La norme pharmaceutique.
    xml:
      name: PharmaceuticalStandard

  RouteOfAdministration:
    type: object
    description: |
      Désigne la partie du corps sur laquelle, par laquelle ou dans laquelle le produit est administré (par exemple voie orale, topique, intramusculaire, rectale, etc.).

      Un produit peut avoir plus d'une voie d'administration (p. ex. voie intraveineuse, intramusculaire, intra-articulaire, etc.).
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      route_of_administration_code:
        type: string
        description: Le code attribué à une voie d'administration.
      route_of_administration_name:
        type: string
        description: La voie d'administration.
    xml:
      name: RouteOfAdministration

  Schedule:
    type: object
    description: |
      Chaque médicament est classé dans une ou plusieurs annexes, conformément au Règlement sur les aliments et drogues et à la Loi réglementant certaines drogues et autres substances.

        - Médicaments sur ordonnance (médicaments inclus sur la Liste des drogues sur ordonnance)
        - Médicaments sur ordonnance recommandés (médicaments recommandés pour être inclus sur la Liste des drogues sur ordonnance)
        - Annexe G (médicaments témoins)
        - Annexe G ( Loi réglementant certaines drogues et autres substances [LRCDAS] III)
        - Annexe G (LRCDAS IV)
        - Annexe C (drogues de l'annexe C du Règlement sur les aliments et drogues, par exemple les produits pharmaceutiques radioactifs)
        - Annexe D (drogues de l'annexe D du Règlement sur les aliments et drogues, par exemple, produits biologiques)
        - Stupéfiant (Loi sur les stupéfiants)
        - Stupéfiant (LRCDAS I)
        - Stupéfiant (LRCDAS II)
        - Ciblés (LRCDAS IV)
        - LRCDAS recommandé (Modification réglementaire en cours pour ajouter cette nouvelle substance à la Loi réglementant certaines drogues et autres substances.)
        - Médicaments en vente libre (OTC - Les médicaments qui ne font pas partie d'une annexe, ou qui n'ont pas été recommandés pour ajout à une annexe)
        - Spécialité médicale: médicament qui peut être vendu sans ordonnance en vertu des lois fédérales, mais qui est habituellement prescrit par un praticien. Les produits de spécialité médicale sont des médicaments sans ordonnance, qui ne font pas partie d'une annexe, à usage professionnel (par exemple, les agents de contraste pour imagerie par résonance magnétique (IRM) et les solutions pour l'hémodialyse) et quelques médicaments pour cas d'urgence (par exemple, la nitroglycérine).
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      schedule_name:
        type: string
        description: L'annexe conformément au Règlement sur les aliments et drogues et à la Loi réglementant certaines drogues et autres substances.

    xml:
      name: Schedule

  ProductStatus:
    type: object
    description: |
      Les états énumérés ci-dessous sont une représentation directe des états qui apparaissent dans l'outil de Recherche de produits pharmaceutiques en ligne de la BDPP et la description de chaque état est présenté ci-dessous:

      - Approuvé : fait référence à un DIN actif pour une drogue qui a été examinée et autorisée à la vente au Canada, mais qui n'est pas encore commercialisée au Canada.
      - Annulé après commercialisation : fait référence à un DIN qui est annulé suite à la cessation de la vente de la drogue par le fabricant conformément à l'alinéa C.01.014.6(1)a) du Règlement.
      - Annulé avant commercialisation : fait référence à un DIN qui est annulé avant sa mise sur le marché au Canada.
      - Annulé (notification annuelle omise) : fait référence à un DIN qui a été annulé en raison de l'omission de la notification annuelle de drogue conformément à l'alinéa C.01.014.6(2)a) du Règlement.
      - Annulé (problème d'innocuité) : fait référence à un DIN qui a été annulé suite à la suspension d'un avis de conformité en vertu de l'alinéa C.01.014.6(1)b) du Règlement ou en vertu de l'alinéa C.01.014.6(2)b) du Règlement en raison de la non-présentation des données et des preuves relatives à l'innocuité et l'efficacité de la drogue, conformément à l'article C.01.013 du Règlement.
      - Commercialisé : fait référence à un DIN actif pour une drogue actuellement vendue au Canada.
      - Dormant : fait référence à un DIN actif pour une drogue qui était commercialisée au Canada dont le fabricant a suspendu la vente pendant au moins 12 mois.
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      expiration_date:
        type: string
        description: La date limite d'utilisation la plus tardive attribuée à la drogue distribuée au Canada, où la vente du produit est cessée par le fabricant.

      external_status_code:
        type: string
        description: Le code attribué à un état externe.

      history_number:
        type: string
        description: La date historique associée à l'état du produit pharmaceutique.

      lot_number:
        type: string
        description: Le numéro de lot la plus tardive attribuée à la drogue distribuée au Canada, où la vente du produit est cessée par le fabricant.

      original_market_date:
        type: string
        description: La date d'origine de commercialisation pour un produit pharmaceutique.

      status:
        type: string
        description: Le nom de l'état.

    xml:
      name: ProductStatus

  TherapeuticClass:
    type: object
    description: Classe attribuée à un médicament en fonction du principal usage thérapeutique.
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      tc_ahfs:
        type: string
        description: La description du code American Hospital Formulary Service.

      tc_ahfs_number:
        type: string
        description: Le code American Hospital Formulary Service.

      tc_atc:
        type: string
        description: La description du code anatomique, thérapeutique, chimique.

      tc_atc_number:
        type: string
        description: Le code anatomique, thérapeutique, chimique.

    xml:
      name: TherapeuticClass

  VeterinarySpecies:
    type: object
    description: Les espèces auxquelles les produits vétérinaires sont destinés (p. ex. mouton, chien, bovin et volaille).
    properties:
      drug_code:
        $ref: '#/definitions/DrugCode'
      vet_species_name:
        type: string
        description: L'espèce animale.

    xml:
      name: VeterinarySpecies

parameters:
  QueryLang:
    name: lang
    type: string
    in: query
    enum:
      - en
      - fr
    default: en
    description: Modifie la langue du résultat.
  QueryType:
    name: type
    type: string
    in: query
    enum:
      - json
      - xml
    default: json
    description: Modifie le format du résultat.
  QueryDrugProductCode:
    name: id
    description: Affiche le ou les ingrédients actifs selon le code du produit pharmaceutique spécifié dans la requête.
    in: query
    type: string
  UserKeys:
    name: 'user-key'
    type: string
    in: header
    required: true
    description: The identifier assigned to your account for accessing the API
    x-data-threescale-name: user_keys
