swagger: '2.0'
x-api-store-tags:
  - summary
  - health products
  - drugs
x-api-store-short-desc: |
  Le site internet, Registre des médicaments et des produits de santé, regroupe l’information au sujet des licences de produit, des inspections, de l’achat et de l’utilisation sécuritaire des produits, des effets secondaires, des rappels et des plaintes.
x-api-store-long-desc: |
  Le site internet, Registre des médicaments et des produits de santé, regroupe l’information au sujet des licences de produit, des inspections, de l’achat et de l’utilisation sécuritaire des produits, des effets secondaires, des rappels et des plaintes.
x-api-store-documentation: <p>Veuillez consulter la documentation OpenAPI</p>
x-api-store-phone: '613-222-7658'
x-api-store-sensitivity: Non classifié
x-api-store-plans:
  public:
    name: Plan public
    description: Tous les utilisateurs doivent souscrire au plan public
info:
  title: Les rapports sommaires
  description: |
    Le site internet, Registre des médicaments et des produits de santé, regroupe l’information au sujet des licences de produit, des inspections, de l’achat et de l’utilisation sécuritaire des produits, des effets secondaires, des rappels et des plaintes.
  version: '1.0.0'
  contact:
    name: Scott Kennedy
    email: scott.kennedy2@canada.ca

schemes:
  - https
host: sr-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
produces:
  - application/json
  - application/xml
paths:
  /basisdecision:
    get:
      tags:
        - Sommaire des motifs de décision

      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le sommaire des motifs de décision selon la variable utilisée pour créer des liens entre toutes les données du SMD spécifiée dans la requête.

      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/SummaryBasisOfDecision'
            xml:
              name: SummaryBasisOfDecisions
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /regulatorydecision:
    get:
      tags:
        - Sommaire des décisions réglementaires
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le sommaire des décisions réglementaires selon la variable utilisée pour créer des liens entre toutes les données des SDR spécifiée dans la requête.

      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/RegulatoryDecision'
            xml:
              name: RegulatoryDecisions
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

  /safetyreview:
    get:
      tags:
        - Résumé de l'examen de l'innocuité (REI)
      parameters:
        - $ref: '#/parameters/UserKeys'
        - $ref: '#/parameters/QueryLang'
        - $ref: '#/parameters/QueryType'
        - name: id
          in: query
          type: string
          description: Affiche le résumé de l'examen de l'innocuité selon la variable utilisée pour créer des liens entre toutes les données du REI spécifiée dans la requête.

      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/SummarySafetyReview'
            xml:
              name: SummarySafetyReview
              wrapped: true
        '204':
          $ref: '#/definitions/204'
        '404':
          $ref: '#/definitions/404'

definitions:
  '204':
    type: string
  '404':
    type: string
  SummaryBasisOfDecision:
    type: object
    description: |
      Les documents de sommaire des motifs de décision (SMD) expliquent pourquoi Santé Canada a autorisé la vente de certains médicaments et instruments médicaux au Canada. Les aspects pris en compte sont la réglementation, l'innocuité, l'efficacité et la qualité (sur le plan de la chimie et de la fabrication).
    properties:
      template:
        type: string
        description: Il existe deux différents modèles de SMD. Cette variable détermine quel modèle est utilisé. Les valeurs possibles sont 1 ou 2.
      control_number:
        type: string
        description: Le numéro de contrôle (pour la présentation de drogue nouvelle).
      date_issued:
        type: string
        description: La date de publication du SMD.
      link_id:
        type: string
        description: Cette variable est utilisée pour créer des liens entre toutes les données du SMD.
      brand_name:
        type: string
        description: La marque nominative.
      manufacturer:
        type: string
        description: Le fabricant.
      med_ingredient:
        type: string
        description: L'ingrédient médicinal.
      bd_din_list:
        type: string
        description: Le numéro de référence qui crée des liens entre les informations du SMD.
      sub_type_number:
        type: string
        description: Le type de présentation et son numéro.
      date_submission:
        type: string
        description: La date de la présentation.
      date_authorization:
        type: string
        description: La date à laquelle elle a été autorisée.
      notice_decision:
        type: string
        description: Le texte relatif à l’avis de décision.
      sci_reg_decision:
        type: string
        description: Le texte relatif aux motifs de décision scientifiques et réglementaires.
      quality_basis:
        type: string
        description: Le texte relatif aux motifs de décision d’ordre qualitatif.
      non_clin_basis:
        type: string
        description: Le texte relatif aux motifs de décision non cliniques.
      non_clin_basis2:
        type: string
        description: La suite du texte relatif aux motifs de décision non cliniques. Ce champ est concaténé avec les motifs de décision non cliniques si sa limite de caractère est dépassée.
      clin_basis:
        type: string
        description: Les motifs de décision cliniques.
      clin_basis2:
        type: string
        description: La suite des motifs de décision cliniques. Ce champ est concaténé avec les motifs cliniques si sa limite de caractère est dépassée.
      clin_basis3:
        type: string
        description: La suite des motifs de décision cliniques. Ce champ est concaténé avec les motifs cliniques 2 si sa limite de caractère est dépassée.
      benefit_risk:
        type: string
        description: Le texte relatif à l’évaluation des avantages/risques et recommandations.
      radioisotope:
        type: string
        description: Le type de radio-isotopes.
      summary:
        type: string
        description: Le texte d’introduction du « Sommaire des motifs de décision ».
      what_approved:
        type: string
        description: Le texte « Quel produit a été approuvé? ».
      why_approved:
        type: string
        description: La raison pour laquelle le produit a été approuvé.
      steps_approval:
        type: string
        description: Les étapes de l’approbation.
      assess_basis:
        type: string
        description: Le texte de conclusion de la section 3 « Ce qui a mené à l’approbation ».
      followup_measures:
        type: string
        description: Les mesures de suivi que l’entreprise devra prendre.
      post_auth:
        type: string
        description: Les activités mises en place après l’autorisation pour le médicament.
      other_info:
        type: string
        description: Les autres informations disponibles à propos des médicaments.
      a_sci_reg_decision:
        type: string
        description: Le texte d’introduction relatif au fondement scientifique sur lequel repose la décision de Santé Canada.
      science_rationale:
        type: string
        description: Le fondement scientifique sur lequel repose la décision de Santé Canada.
      a_clin_basis:
        type: string
        description: Les motifs de décision cliniques.
      a_clin_basis2:
        type: string
        description: La suite des motifs de décision cliniques. Ce champ est concaténé avec les motifs cliniques A si sa limite de caractère est dépassée.
      a_non_clin_basis:
        type: string
        description: Les motifs de décision non cliniques.
      a_non_clin_basis2:
        type: string
        description: La suite des motifs de décision non cliniques. Ce champ est concaténé avec les motifs non cliniques A si sa limite de caractère est dépassée.
      b_quality_basis:
        type: string
        description: Les motifs de décision d’ordre qualitatif.
      contact:
        type: string
        description: ''
      paat_info:
        type: string
        description: ''
      summary_drug:
        type: string
        description: ''
      branch_info:
        type: string
        description: ''
      trademark:
        type: string
        description: ''
      din:
        type: string
        description: Le ou les numéros d’identification d’un médicament.
      licence_number:
        type: string
        description: Le numéro de licence du produit.
      ai_str_route_summary:
        type: string
        description: ''
      is_md:
        type: string
        description: Le produit est_md (instrument médical).
      din_list:
        type: string
        description: La liste du ou des numéros d’identification d’un médicament.
      post_activity_list:
        type: string
        description: La liste des activités mises en place après l’autorisation pour le produit.
      milestone_list:
        type: array
        description: La liste des jalons du produit.
        items:
          $ref: '#/definitions/MilestoneList'
      tombstone_list:
        type: array
        description: La liste de base du produit.
        items:
          $ref: '#/definitions/TombstoneList'
    xml:
      name: SummaryBasisOfDecision
  MilestoneList:
    type: object
    description: Les jalons du produit.
    properties:
      link_id:
        type: string
        description: Cette variable est utilisée pour créer des liens entre toutes les données du SMD.
      num_order:
        type: string
        description: L'ordre des jalons.
      milestone:
        type: string
        description: La description du jalon (étape importante).
      completed_date:
        type: string
        description: La date de la fin de l'étape.
      completed_date2:
        type: string
        description: La date 2 de la fin de l'étape.
      separator:
        type: string
        description: ''
  TombstoneList:
    type: object
    description: Le base du produit.
    properties:
      link_id:
        type: string
        description: Cette variable est utilisée pour créer des liens entre toutes les données du SMD.
      num_order:
        type: string
        description: L'ordre des ingrédients contenus dans un produit.
      med_ingredient:
        type: string
        description: L'ingrédient actif.
      nonprop_name:
        type: string
        description: La dénomination commune internationale d'un ingrédient actif.
      strength:
        type: string
        description: La concentration de l'ingrédient actif contenu dans un produit pharmaceutique.
      dosageform:
        type: string
        description: La forme finale du produit.
      route_admin:
        type: string
        description: La voie d'administration.
      thera_class:
        type: string
        description: La classe thérapeutique.
      nonmed_ingredient:
        type: string
        description: Les ingrédients non-médicinaux.
  RegulatoryDecision:
    type: object
    description: Les sommaires des décisions réglementaires (SDR) expliquent les décisions de Santé Canada relativement à certains produits de santé pour lesquels une autorisation de mise en marché est demandée.
    properties:
      link_id:
        type: string
        description: Cette variable est utilisée pour créer des liens entre toutes les données des SDR.
      drug_name:
        type: string
        description: La marque nominative du médicament.
      contact_name:
        type: string
        description: Le nom de la personne-ressource de Santé Canada.
      contact_url:
        type: string
        description: L’adresse URL de la personne-ressource de Santé Canada.
      medical_ingredient:
        type: string
        description: L'ingrédient actif.
      therapeutic_area:
        type: string
        description: Le domaine thérapeutique.
      purpose:
        type: string
        description: L’objectif de la présentation.
      reason_decision:
        type: string
        description: La raison pour laquelle la décision a été rendue.
      decision:
        type: string
        description: La décision rendue.
      decision_descr:
        type: string
        description: Le texte justificatif de la décision.
      date_decision:
        type: string
        description: La date de la décision.
      manufacturer:
        type: string
        description: Le fabricant.
      prescription_status:
        type: string
        description: Le statut de l’ordonnance.
      type_submission:
        type: string
        description: Le type de présentation.
      date_filed:
        type: string
        description: La date à laquelle la présentation a été déposée.
      control_number:
        type: string
        description: Le numéro de contrôle de la présentation.
      application_number:
        type: string
        description: ''
      application_type:
        type: string
        description: ''
      licence_num:
        type: string
        description: ''
      device_class:
        type: string
        description: ''
      created_date:
        type: string
        description: La date de création
      modified_date:
        type: string
        description: La date de modification.
      footnotes:
        type: string
        description: Un numéro de référence pour le texte des notes en bas de page.
      summary_title:
        type: string
        description: Le titre sommaire.
      summary_subtitle:
        type: string
        description: Le sous-titre sommmaire.
      summary_text1:
        type: string
        description: Le texte sommaire 1.
      summary_text2:
        type: string
        description: Le texte sommaire 2.
      summary_text3:
        type: string
        description: Le texte sommaire 3.
      din:
        type: string
        description: Le DIN du produit.
      is_md:
        type: string
        description: c
      din_list:
        type: string
        description: La liste du ou des numéros d’identification d’un médicament.
      bullet_list:
        type: string
        description: La liste des points clés du produit.
    xml:
      name: RegulatoryDecision
  SummarySafetyReview:
    type: object
    description: Chaque produit de santé autorisé pour la vente au Canada a des conditions d'approbation et d'étiquetage qui reflètent la compréhension des bénéfices et des effets nocifs du produit par Santé Canada au moment de l'approbation. Une fois sur le marché canadien, Santé Canada continue de surveiller l'innocuité des produits de santé pour identifier et évaluer les dangers potentiels. Cette surveillance comprend l'analyse de diverses sources d'information (déclarations d'effets indésirables, nouvelles informations sur l'innocuité provenant d'organismes de réglementation étrangers, littérature médicale et scientifique) pour identifier des problèmes d'innocuité potentiels liés aux produits de santé.
    properties:
      template:
        type: string
        description: Il existe deux différents formats de REI. Cette variable détermine quel modèle est utilisé. Les valeurs possibles sont 1 ou 2.
      link_id:
        type: string
        description: Cette variable est utilisée pour créer des liens entre toutes les données du REI.
      review_date:
        type: string
        description: ''
      drug_name:
        type: string
        description: Le nom du médicament, sa classe ou ses ingrédients actifs.
      safety_issue:
        type: string
        description: Le texte relatif à la question d’innocuité (dans le modèle no 2).
      safetyissue_title:
        type: string
        description: ''
      findings_title:
        type: string
        description: ''
      issue:
        type: string
        description: Le texte relatif à la question d’innocuité (dans le modèle no 1).
      background:
        type: string
        description: Le texte relatif aux antécédents (dans le modèle no 1).
      objective:
        type: string
        description: Le texte relatif à l’objectif (dans le modèle no 1).
      key_findings:
        type: string
        description: Un numéro de référence pour le texte relatif aux principales constatations (dans le modèle no 1).
      key_messages:
        type: string
        description: Un numéro de référence pour le texte relatif aux messages clés (dans le modèle no 2).
      overview:
        type: string
        description: Le texte relatif à l’aperçu (dans le modèle no 2).
      use_canada:
        type: string
        description: Un numéro de référence pour le texte relatif à l’utilisation au Canada (dans le modèle no 2).
      findings:
        type: string
        description: Les principales constatations sur l’innocuité (dans le modèle no 2).
      conclusion:
        type: string
        description: Un numéro de référence pour le texte relatif aux conclusions et actions.
      additional:
        type: string
        description: Le texte relatif aux informations supplémentaires.
      full_review:
        type: string
        description: Le texte relatif aux rapports d’examens complets.
      references:
        type: string
        description: Un numéro de référence pour le texte relatif à la liste des références.
      footnotes:
        type: string
        description: Un numéro de référence pour le texte relatif à la liste des notes en bas de page.
      title:
        type: string
        description: ''
      created_date:
        type: string
        description: La date à laquelle le REI a été créé.
      modified_date:
        type: string
        description: La date à laquelle le REI a été modifié.
      key_message_list:
        type: array
        description: La liste des messages clés du produit.
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
      footnotes_list:
        type: array
        description: La liste des notes en bas de page du produit.
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces. lists.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
      reference_list:
        type: array
        description: La liste des produits de référence.
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
      use_canada_list:
        type: array
        description: Liste des produits utilisés au Canada
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
      finding_list:
        type: array
        description: La liste des constatations relatives au produit.
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
      conclusion_list:
        type: array
        description: La liste de conclusion du produit.
        items:
          type: object
          properties:
            field_id:
              type: string
              description: Le numéro de référence lié au tableau principal.
            order_no:
              type: string
              description: Le numéro de commande pour les listes à puces.
            bullet:
              type: string
              description: Le texte relatif aux listes à puces.
    xml:
      name: SummarySafetyReview

parameters:
  QueryLang:
    name: lang
    type: string
    in: query
    enum:
      - en
      - fr
    default: en
    description: Détermine si le résultat est affiché en anglais ou en français.
  QueryType:
    name: type
    type: string
    in: query
    enum:
      - json
      - xml
    default: json
    description: Détermine si le résultat est en format JSON ou XML.
  QueryLinkID:
    name: id
    in: query
    type: string
    description: Affiche selon le numéro d'un avis de conformité spécifié dans la requête
  UserKeys:
    name: user-key
    type: string
    in: header
    required: true
    description: L'identifiant attribué à votre compte pour accéder à l'API
    x-data-threescale-name: user_keys
